@media screen and (max-width:1000px) {
    .sidebar {
        height: 40px;
        width: 100%;
    }

    .main-content {
        margin-top: 100px;
    }

    .logo {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #menulist{
        background-color: #fff;
    }
    .product-list{
        background-color: #f2f2f2;
    }

}