<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Bootstrap css start  -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/responsive.css">
    <!--Bootstrap css End -->
    <!-- fontawesome fonts start -->
    <link rel="stylesheet" href="../static/fonts/all.min.css">
    <link rel="stylesheet" href="../static/fonts/fontawesome.min.css">
    <link rel="stylesheet" href="../static/fonts/all.css">
    <!-- fontawesome fonts End -->
    <title>OST</title>
</head>

<body>
   
   
    <div class="sidebar">
       <a href="home.html">
        <div class="logo">
            <img src="../static/images/logos 3.svg" alt="logo" class="img-fluid">
        </div>
       </a>
        <div class="product-list" id="productListBtn">
            <div class="d-flex align-items-center justify-content-around">
                <p>Product List</p>
                <p>
                    <span id="downArrow">
                        <lord-icon src="https://cdn.lordicon.com/rxufjlal.json" trigger="hover" colors="primary:#121331"
                            style="width:30px;height:30px">
                        </lord-icon>
                    </span>
                    <span id="upArrow">
                        <lord-icon src="https://cdn.lordicon.com/xsdtfyne.json" trigger="hover" colors="primary:#121331"
                            style="width:30px;height:30px">
                        </lord-icon>
                    </span>
                </p>
            </div>
        </div>
        <ul id="menulist">
      
            <li class="menu-list">
                <form action="/filter_devices"  method="POST" enctype="multipart/form-data">
                    <input type="hidden" name="product_id_prefix" value="3chfb">
                  <button class="btn-menu">
                  <span class="menu-icon"><img src="../static/images/3-ch.svg" alt="3 channel-icon"
                    class="img-fluid"></span><span class="text-menu">3 Channel</span>
                  </button>
                </form>    
                    </li>
      
       
            <li class="menu-list">
                <form action="/filter_devices"  method="POST" enctype="multipart/form-data">
                    <input type="hidden" name="product_id_prefix" value="4chfb">
                  <button class="btn-menu">
                <span class="menu-icon"><img src="../static/images/4-channel.svg"
                        alt="4 channel-icon" class="img-fluid"></span><span class="text-menu">4 Channel</span>
                    </button>
                </form>
                    </li>
    
            <li class="menu-list">
                <form action="/filter_devices"  method="POST" enctype="multipart/form-data">
                    <input type="hidden" name="product_id_prefix" value="wta">
                  <button class="btn-menu">
                <span class="menu-icon"><img src="../static/images/wta.svg" alt="wta-icon"
                        class="img-fluid"></span><span class="text-menu">WTA</span>
                    </button>
                </form>
                    </li>
        
    </ul>
    </div>

    <!-- enquery form start -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <center>
                        <h5>Firmware File Upload</h5>
                        <form action="/upload_firmware" method="POST" enctype="multipart/form-data">
                            <div class="product-ids">
                                <input type="text" placeholder="Product Id" id="product_id" name="product_id">
                            </div>

                            <div class="product-ids">
                                <label for="file-upload" class="file-lable">
                                    <p></p>
                                    <p><lord-icon src="https://cdn.lordicon.com/kulwmpzs.json" trigger="hover"
                                            colors="primary:#757070" style="width:30px;height:30px">
                                        </lord-icon></p>
                                </label>

                                <input type="file" name="firmware_file" placeholder="uploade file" class="file-inp"
                                    id="file-upload">
                            </div>
                            <button type="submit" class="btn btn-primary">Upload</button>
                        </form>
                    </center>
                </div>
            </div>
        </div>
    </div>
    <!-- enquery form end -->


    <div class="main-content">
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-10">
                    <form action="/" method="POST" enctype="multipart/form-data">
                        <div class="top-search-bar">
                            <input type="text" placeholder="Product Id" id="product_id" name="product_id">
                            <button type="submit"><lord-icon src="https://cdn.lordicon.com/xfftupfv.json"
                                    trigger="hover" colors="primary:#757070" style="width:30px;height:30px">
                                </lord-icon></button>
                        </div>
                    </form>
                    <div class="row">
                        <div class="updateBtn">
                            <button data-bs-toggle="modal" data-bs-target="#exampleModal"><lord-icon
                                    src="https://cdn.lordicon.com/wfadduyp.json" trigger="hover" colors="primary:#fff"
                                    style="width:30px;height:30px">
                                </lord-icon><span>Update</span></button>
                        </div>
                    </div>
                  
                    {% for device_id, device_info in device_data.items() %}
                    <div class="device-info" id="info_{{ device_id }}" style="display: none;">
                        
                        <div class="row my-4">
                            <div class="col-md-7">
                                <h5 class="information-title">Device Information</h5>
                                
                                <div class="device-information-con">
                                    <div class="online-option">
                                        
                                        {% if device_info['disconnected_time'] %}
                                          
                                            <div class="online offline">
                                                <p class="circle circle-off"></p>
                                                <p class="online-text off-text">Offline</p>
                                            </div>
                                        {% else %}
                                            
                                            <div class="online">
                                                <p class="circle circle-on"></p>
                                                <p class="online-text on-text">Online</p>
                                            </div>
                                        {% endif %}
                                    </div>
                                    
                                    
                                    <table class="table table-li">
                                        <tbody>
                                            <tr class="table-row">
                                                <td>User Name</td>
                                                <td>{{ device_info['username'] }}</td>
                                            </tr>
                                            <tr class="table-row">
                                                <td>Activation Date</td>
                                                <td>{{ device_info['activation_date'] }}</td>
                                            </tr>
                                            {% if device_info['disconnected_time'] %}
                                              {% set disconnected_time_available = false %}
                                            {% for uid, time_info in device_info['disconnected_time'].items() %}
                                               {% if time_info['date'] or time_info['time'] %}
                                              {% if not disconnected_time_available %}
                                              <tr class="table-row">
                                                  <td>Disconnected Time</td>
                                                  <td>{{ time_info['date'] }} {{ time_info['time'] }}</td>
                                                        </tr>
                                             {% else %}
                                               <td>{{ time_info['date'] }} {{ time_info['time'] }}</td>
                                             {% endif %}
                                             {% set disconnected_time_available = true %}
                                           {% endif %}
                                        {% endfor %}
                                        {% endif %}
                                            <tr class="table-row">
                                                <td>IP Address</td>
                                                <td>{{ device_info['ip'] }}</td>
                                            </tr>
                                            <tr class="table-row">
                                                <td>WiFi Address</td>
                                                <td>{{ device_info['wifi_address'] }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <h5 class="information-title">Firmware Information</h5>
                          
                               <div class="frimware-information-con">
                                
                                
                                    <table class="table table-li">
                                        {% if 'firmware' in device_info %}
                                        {% for firmware_id, firmware_info in device_info['firmware'].items() %}
                                            <tbody class="firm-ware-bot">
                                                <tr class="row">
                                                    <td class="col-md-1"></td>
                                                    <td class="col-md-5">File Name</td>
                                                    <td class="col-md-6">{{ firmware_info['filename'] }}</td>
                                                </tr>
                                                <tr class="row">
                                                    <td class="col-md-1"></td>
                                                    <td class="col-md-5">Update Date</td>
                                                    <td class="col-md-6">{{ firmware_info['upload_date'] }}</td>
                                                </tr>
                                                <tr class="row">
                                                    <td class="col-md-1"></td>
                                                    <td class="col-md-5">Version</td>
                                                    <td class="col-md-6">{{ firmware_info['version'] }}</td>
                                                </tr>
                                            </tbody>
                                        {% endfor %}
                                    
                                {% else %}
                                    <p>No firmware information available.</p>
                                    {% endif %}
                                </table>
                            </div>
                               
                            </div>
                        </div>
                        
                    </div>
                    {% endfor %}
                    

                    {% if device_data %}
                    <table class="table text-center my-4">
                        <thead>
                            <tr class="head-table">
                                <th>S.No</th>
                                <th>Client Name</th>
                                <th>Activation Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        {% for device_id, device_info in device_data.items() %}
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>{{ device_info['username'] }}</td>
                                <td>{{ device_info['activation_date'] }}</td>
                                
                                <td><a href="#searchList"><button class="view-btn view"   id="view_{{device_id }}">View</button></a></td>
                            </tr>
                            
                        </tbody>
                        
                        {% endfor %}
                    </table>

                    {% endif %}
                </div>

            </div>
        </div>

    </div>

    <!-- scripts Start -->
    <script src="../static/js/bootstrap.bundle.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/main.js"></script>

    <!-- fontawesome fonts start -->
    <script src="../static/js/all.min.js"></script>
    <script src="../static/js/fontawesome.min.js"></script>
    <!-- fontawesome fonts End -->
    <script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
    <!-- scripts End -->
    <!-- <script>
        const searchList = document.querySelector('.serach-list')
        const view = document.querySelector('.view')

        view.addEventListener('click', () => {
            if (searchList.style.display == 'none') {
                searchList.style.display = 'block'
            }
            else {
                searchList.style.display = 'none'
            }
        })
    </script> -->
   
   <script>
    // Add an event listener to each "View" button
    {% for device_id, device_info in device_data.items() %}
    const viewButton_{{ device_id }} = document.getElementById('view_{{ device_id }}');
    const deviceInfo_{{ device_id }} = document.getElementById('info_{{ device_id }}');
    
    viewButton_{{ device_id }}.addEventListener('click', () => {
        if (deviceInfo_{{ device_id }}.style.display === 'none' || !deviceInfo_{{ device_id }}.style.display) {
            // Hide all device information sections
            hideAllDeviceInfo();
            // Display the clicked device's information
            deviceInfo_{{ device_id }}.style.display = 'block';
        } else {
            // Hide the clicked device's information
            deviceInfo_{{ device_id }}.style.display = 'none';
        }
    });
    {% endfor %}
    
    // Function to hide all device information sections
    function hideAllDeviceInfo() {
        {% for device_id, device_info in device_data.items() %}
        deviceInfo_{{ device_id }}.style.display = 'none';
        {% endfor %}
    }
</script>
    
</body>

</html>